/* Debugging purposes - Will outline every element in magenta*/
* { border: 1px solid Magenta; }

#Canvas{
    /*Top right bottom left*/
    margin: 0% 0% 0% 0%;
}

#questionBox{
    width: 80%;
    height: 100px;
    outline: 1px solid white;
    margin: 0% 0% 0% 0%; 

}

.question{
    position: absolute;
}

body {
    background-color: #1a202c;
    font-family: sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #cbd5e0;
}

a, a:hover, a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #2d3748;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #2d3748;
    color: #f0f0f0;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #4a5568;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #718096;
}

#sidebar ul p {
    color: #e2e8f0;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #e2e8f0;
}

#sidebar ul li a:hover {
    color: #2d3748;
    background: #e2e8f0;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #4a5568;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #4a5568;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.article,
a.article:hover {
    background: #4a5568 !important;
    color: #fff !important;
}

#content {
    padding: 20px;
    min-height: 100vh;
    background: #1a202c;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}