.leaderboard-container {
    padding: 2rem;
    text-align: center;
}

.dropdown-container {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.dropdown-container select {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.leaderboard-table {
    margin: 0 auto;
    width: 60%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.leaderboard-table th,
.leaderboard-table td {
    border: 1px solid #ddd;
    padding: 12px;
}

.leaderboard-table th {
    background-color: #00519c;
    font-weight: bold;
}
