<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evil Kahoot</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/base.css') }}">
    {% block css_link %}
    {% endblock %}
</head>
<body>
    <nav class="top-bar">
        <ul class="nav-links">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('lobby') }}">Lobby</a></li>
        </ul>
        <ul class="nav-links">
          <li><a href="{{ url_for('register') }}">Register</a></li>
          <li><a href="{{ url_for('login') }}">Login</a></li>
        </ul>
      </nav>
    {% block content %} {% endblock %}
</body>
</html>