{% extends 'base.html' %}

{% block content %}
  <h1>Submit Question</h1>
  <form action="/submit_question" method="POST">
    <div id="questionsContainer"></div>
        <!-- Dynamic question blocks will appear here -->
    </div>
    <button type="button" onclick="addQuestion()">Add Question</button>
    <br><br>

    <input type="submit" value="Submit Question">
  </form>
  <p>{{ warning }}</p>

  <script src="{{ url_for('static', filename='JS/question_submission.js') }}"></script>
    
{% endblock %}