{% extends 'base.html' %}

{% block content %}
    <h1>REGISTER</h1>
    <form id="registerform" action="/register" method="POST">
        <label for="fname">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="lname">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <label for="lname">Confirm Password:</label>
        <input type="password" id="confirmpassword" name="confirm_password" required><br><br>
        <button type="submit">Register</button>
    </form> 
{% endblock %}